autograd==1.2
backports.functools-lru-cache==1.5
cycler==0.10.0
dill==0.2.8.2
Django==1.11.14
future==0.16.0
futures==3.2.0
image==1.5.24
imageio==2.3.0
kiwisolver==1.0.1
lxml==4.2.3
matplotlib==2.2.2
multiprocess==0.70.6.1
numpy==1.14.5
pandas==0.23.3
pathos==0.2.2.1
Pebble==4.3.9
Pillow==5.2.0
pox==0.2.4
ppft==1.6.4.8
pyparsing==2.2.0
python-dateutil==2.7.3
python-pptx==0.6.10
pytz==2018.5
scipy==1.1.0
six==1.11.0
subprocess32==3.5.2
XlsxWriter==1.0.5
